.team {
        background-image: url(../../../Hlegal/img/Team.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        aspect-ratio: 1920 / 584;
        width: 100%;
        height: auto;
        background-position: top;
        position: relative;

        &__title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 700;
                font-size: 96px;
                letter-spacing: 0.66em;
                text-transform: uppercase;
                color: var(--basic-white);
                text-shadow: 0 15px 30px 0 rgba(40, 40, 86, 0.8);
                opacity: 0.8;
                @media (max-width: 970px) {
                        font-size: 46px;
                        letter-spacing: 1.37em;
                }
                @media (max-width:650px) {
                        font-size: 36px;
                        letter-spacing: 0.36em;
                }
        }
}
