.trust {
    &__container {
        width: 1720px;
        max-width: 100%;
        margin: 0 auto;
       
    }
    margin: 60px 0;
    &__text {
        margin-bottom: 30px;
        &-title {
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: var(--main---regular);
            text-align: center;
        }
    }
    &__company {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @media (max-width:1734px) {
            
                
        }
    }
    &__border {
        border-radius: 12px 0 0 0;
        @media (max-width:1308px) {
            border-radius: 0;
        }
        &-left {
            border-radius: 0 12px 0 0;
            @media (max-width:1737px) {
                    border-radius: 0;
                }
        }
        &-down {
            border-radius:0 0 0 12px;
            @media (max-width:1308px) {
                    border-radius: 0;
                }
        }
        &-right {
            border-radius: 0 0 12px 0;
            @media (max-width:1308px) {
                    border-radius: 0;
                }
        }

    }
    &__img {
        flex: 1 0 430px;
    }

}