@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1232px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.header {
  margin-bottom: 12px;
}

.logo,
.nav__bar,
.header__btn,
.nav__list,
.nav__item {
  display: inline-block;
}

.logo {
  margin-right: 229px;
  vertical-align: middle;
}

.header__wr {
  padding: 30px 0 25px;
  
  border-bottom: 1px solid rgba(70, 163, 89, 0.5);
}


.nav__item {
  margin-right: 30px;
}

.nav__list {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.11px;
}

.nav__link {
  color: #3d3d3d;
  height: 35px;
  display: block;
}

.nav__link {
  position: relative;
  
}

.nav__link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -25px;
  display: block;
  width: 100%;
  height: 3px;
  background: #46a358;
  border: 25px;
}

.nav__link::after {
  width: 0;
  transition: 0.3s;
}
.nav__link:hover:after,
.nav__link.active:after {
  width: 100%;
}
.nav__link.active {
  font-weight: 700;
}
.login {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.11px;
  text-align: left;
  color: #ffffff;
  background: #46a358;
  border-radius: 6px;
  width: 100px;
  height: 35px;
  padding-left: 17px;
  position: relative;
  cursor: pointer;
  margin-left: 370px;
}

.login:hover {
  transform: scale(1.1);
}
/* hero */

.section {
  max-width: 1200px;
  width: 100%;
}

.hero__wr {
  
display: inline-flex;
background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
}

.hero__text {
  margin-left: 40px;
}
.paragraf {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  margin-bottom: 7px;
  margin-top: 68px;
  text-transform: uppercase;
}
.title {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 5px;
}

span {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  color: #46a358;
}

.main__plant {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #727272;
  width: 50%;
  margin-bottom: 44px;
}

.shop {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #46a358;
  width: 140px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}
.hero__img {
  margin-top: 12px;
  display: inline;
}
