
.icon-location:before { content: '\e800'; } /* '' */
.icon-vector:before { content: '\e801'; } /* '' */
.icon-calling:before { content: '\e802'; } /* '' */
.icon-arrow---right:before { content: '\e803'; } /* '' */
.icon-vector-(1):before { content: '\e804'; } /* '' */
.icon-heart-1:before { content: '\e805'; } /* '' */
